.uk-offcanvas-bar {
    background: #00bcd4 !important;
}

.uk-navbar-container {
    background: #78f9a6 !important;
}

.uk-navbar-nav li a {
    color: black !important;
}

.uk-navbar-dropdown{
    width: 300px!important;
    color : #000;
    margin-top: 0;
}

.my-dividors {
    margin: 0!important;
    border-top: 1px solid #03a9f4!important;
}

.my-card-dividor{
    padding: 0px!important;
}

.my-description-text{
    margin : 0!important;
    color: #6d7e8c;
}

.my-description-title{
    font-size: 20px!important;
    font-weight: 500!important;
}
.my-description a{
    margin-left: 5%;

}
.my-description{
    transition: background 0.8s;
}
.my-description:hover{
    background: #cffaff;

}
